*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: #172755;
    min-height: 100vh;
}
.header
{
    background-color: #172755;
    height: 10vh;
}
.footer
{
    bottom: 0;
    height: 5vh;
}
.footer p
{
    background-color: #172755;
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
}
.navbar-brand, .nav-link
{
    color: white;
}
h2
{
    font-weight: bold;
}
th
{
    padding-top: 5px;
}
td
{
    height: 30px;
    width: 100%;
    border-radius: 5px;
}
table, input
{
    width: 100%;
    border: none;
    height: 30px;
}
input
{
    padding: 5px;
    border-radius: 5px;
}

.mainForm
{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    min-height: 82vh;
}
textarea
{
    width: 100%;
    resize: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.errorAlert
{
    display: none;
    margin: 20px 10px;
}
.div1
{
    /* background-color: #939ec1; */
    background-color: lightsteelblue;
    padding: 20px 0px;
    width: 600px;
    margin: 10px;
    background-image: url("/static/images/bgSide1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.div2
{
    background-color: lightsteelblue;
    background-image: url("/static/images/bgSide2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0px;
    width: 600px;
    margin: 10px;
}
.div1Table, .div2Table
{
    padding: 5px 30px;
}
.fileName
{
    width: 95%;
    border-radius: 5px;
}
.uploadIcons
{
    color: #172755;
    margin-left: 3%;
    margin-right: 2%;
}
.navbar-toggler-icon
{
    color: white;
}


.registerMainDiv
{
    min-height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerChildDiv
{
    padding: 50px;
    width: 700px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 30px black;
}

.listMainDiv
{
    min-height: 83vh;
}
.colwidth
{
    padding: 10px;
    text-align: left;
    width: 50%;
}

.proceedBtn
{
    margin: 0px 5px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: none;
    border: 2px solid #172755;
    border-radius: 10px;
}
.proceedBtn:hover
{
    background-color: #172755;
    color: white;
}