{% extends "base.html" %}
{% load static %}

{% block title %}
  Application Form
{% endblock %}

{% block mainContent %}
    <div class="bgDiv">
        <form class="mainForm" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card div1">
                    <h2 class="text-center">Organization Details</h2>
                    <div class="div1Table table-responsive">
                        <table>
                            <tr>
                                <th><label>Organization Name: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="text" name="orgName" ></td>
                            </tr>
                            <tr>
                                <th><label>Organization Email: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="email" id="orgEmail" name="orgEmail" ></td>
                            </tr>
                            <tr>
                                <th><label>Organization Contact Number: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="tel" id="orgMobile" name="orgContact" pattern="+8801[0-9]{9}" placeholder="e.g. +8801XXXXXXXXX" ></td>
                            </tr>
                            <tr>
                                <th><label>Organization Address: </label></th>
                            </tr>
                            <tr>
                                <td><textarea rows="1" name="orgAddress" ></textarea></td>
                            </tr>
                        </table>
                    </div>
                </div>
            
                <div class="card div2">
                    <h2 class="text-center">Authorized Admin Details</h2>
                    <div class="div2Table table-responsive">
                        <table>
                            <tr>
                                <th><label>Full Name: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="text" name="admName" ></td>
                            </tr>
                            <tr>
                                <th><label>Designation: </label></th>
                            </tr>
                            <tr>
                                <td><input type="text" name="admDesg" ></td>
                            </tr>
                            <tr>
                                <th><label>Official Email: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="email" id="admEmail" name="admEmail" ></td>
                            </tr>
                            <tr>
                                <th><label>Contact Number: </label></th>
                            </tr>				
                            <tr>
                                <td><input type="tel" id="admMobile" name="admMobile" pattern="+8801[0-9]{9}" placeholder="e.g. +8801XXXXXXXXX" ></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-right"><button class="btn btn-outline-success border border-success border-3 font-weight-bold" type="Submit">Submit</button></td>
                            </tr>
                        </table>
                    </div>
                </div> <!-- div2 ends here -->
            
        </form>	
    </div>
{% endblock %}
